#strenghtenButton{
    max-width: 80 px;
    min-width: 80 px;
    max-height: 15px;
    min-height: 15px;
    background-color: rgb(167, 10, 10);
  }
  #strenghtenButton2{
    max-width: 80 px;
    min-width: 80 px;
    max-height: 15px;
    min-height: 15px;
    background-color: rgb(255, 210, 7);
  }
  #strenghtenButton3{
    max-width: 80 px;
    min-width: 80 px;
    max-height: 15px;
    min-height: 15px;
    background-color: green;
  }