#strenghtenButton {
  max-width: 80 px;
  min-width: 80 px;
  max-height: 15px;
  min-height: 15px;
  background-color: rgb(167, 10, 10);}
#strenghtenButton2 {
  max-width: 80 px;
  min-width: 80 px;
  max-height: 15px;
  min-height: 15px;
  background-color: rgb(255, 210, 7);
}
#strenghtenButton3 {
  max-width: 80 px;
  min-width: 80 px;
  max-height: 15px;
  min-height: 15px;
  background-color: green;
}
.container {
  margin: 0 auto;
}
.main {

  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;
  width: 280px;
  background-color: rgb(255, 136, 0);
}
.title {
  font-size: 24px;
  margin: 0 auto;
  text-align: center;
  width: 100px;
  margin-bottom: 10px;
}
.logoContainer {
  height: 100px;
  width: 100px;
  margin: 5px auto 5px;
  margin-top: 5px;
}
.registrationPanel {

  margin: 0 auto;
  
  height: 200px;
  max-height: 1000px;
  display: grid;
  justify-content: center;
  
}

#login {
  width: 250px;
  margin-bottom: 10px;
  font-size: 18px;
}
#password {
  width: 250px;
  margin-bottom: 10px;
  font-size: 18px;

  top: 20%;
  display: block;
}
#strenghtLabel {
  font-size: 18px;

  top: 30%;
}
.strenghtButton {
  width: 35px;
  border-radius: 4px;
  border: none;
}
#signUpButton {
  width: 80px;
  text-align: center;
  font-size: 16px;
  margin: 0 auto;
}
